<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>worldTrotter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>085F1F5B1F7EBC1400D0B2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085F1F6F1F7EBC1400D0B2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085F1F7A1F7EBC1500D0B2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
